<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head") %>
    <%- include('partials/navigation.ejs')%>
</head>

<body class="bodyIndex">
    <div class="backgroundIndex">
        <div class="containerIndex mt-4">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="profile-card">
                        <img src="img/UserImg.png" alt="Darren Warner">
                        <h4>Richard Chaves</h4>
                        <p>Coordinador de proyecto</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile-card">
                        <img src="img/UserImg.png" alt="Kattie Perry">
                        <h4>Fabricio Gallo</h4>
                        <p>Coordinador de modelado</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-skype"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile-card">
                        <img src="img/UserImg.png" alt="Diana Johnson">
                        <h4>Andrey Rodríguez</h4>
                        <p>Coordinador de análisis</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile-card">
                        <img src="img/UserImg.png" alt="George Vandiver">
                        <h4>Jairo Marenco</h4>
                        <p>Coordinador de calidad</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-skype"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile-card">
                        <img src="img/UserImg.png" alt="Rihanna Jonesy">
                        <h4>Yerlin Dávila</h4>
                        <p>Coordinador de documentación</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile-card">
                        <img src="img/UserImg.png" alt="Rihanna Jonesy">
                        <h4>Everth Reyes</h4>
                        <p>Coordinador de programación</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
<footer>
    <%- include('partials/footer.ejs')%>
</footer>
</html>

