<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head") %>
</head>

<body>
    <%- include('partials/navigation.ejs')%>

    <main>
        <div class="container mt-4">
            <button id="btnAddProyecto" class="btn btn-info">Agregar proyecto</button>
            <!-- Card 1 -->
            <div class="card mt-4">
                <h3>Nombre del Proyecto</h3>
                <p><strong>Descripci贸n:</strong> Descripci贸n del proyecto...</p>
                <p><strong>Partidas Presupuestarias:</strong> Partida 1, Partida 2, ...</p>
                <p><strong>Encargado:</strong> Nombre del encargado</p>
                <p><strong>Fecha de Inicio:</strong> DD/MM/AAAA</p>
                <p><strong>Fecha de Fin:</strong> DD/MM/AAAA</p>
                <div class="table-responsive">
                    <table class="table table-striped
                        table-hover	
                        table-borderless
                        table-secondary
                        align-middle">
                        <thead class="table-light">
                        </thead>
                        <tbody class="table-group-divider">
                            <tr class="table-secondary">
                                <td>
                                    <a name="eliminar" id="eliminar" class="btn btn-danger">Eliminar</a>
                                    ||
                                    <a name="editar" id="editar" class="btn btn-primary">Editar</a>
                                    ||
                                    <a name="detalles" id="detalles" class="btn btn-success">Detalles</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card mt-4">
                <h3>Nombre del Proyecto</h3>
                <p><strong>Descripci贸n:</strong> Descripci贸n del proyecto...</p>
                <p><strong>Partidas Presupuestarias:</strong> Partida 1, Partida 2, ...</p>
                <p><strong>Encargado:</strong> Nombre del encargado</p>
                <p><strong>Fecha de Inicio:</strong> DD/MM/AAAA</p>
                <p><strong>Fecha de Fin:</strong> DD/MM/AAAA</p>
            </div>
        </div>
    </main>
</body>
<%- include('partials/footer.ejs')%>
</html>