<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head") %>
</head>

<body>
    <%- include('partials/navigation.ejs')%>

    <main>
        <div class="table-responsive">
            <table class="table table-striped
              table-hover	
              table-borderless
              table-secondary
              align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Acciones</th>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Passwd</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-secondary">
                        <td>
                            <a name="eliminar" id="eliminar" class="btn btn-danger">Eliminar</a>
                            ||
                            <a name="editar" id="editar" class="btn btn-primary">Editar</a>
                            ||
                            <a name="detalles" id="detalles" class="btn btn-success">Detalles</a>
                        </td>
                        <td scope="row">id</td>
                        <td>name</td>
                        <td>>email</td>
                        <td>password</td>
                        <td>rol</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </main>
</body>
<%- include('partials/footer.ejs')%>
</html>