<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head") %>
</head>

<body>
    <%- include('partials/navigation.ejs')%>
        <main>
            <button id="btnAddUsuario" class="btnCommon btn btn-primary mt-2">Agregar Usuario</button>
            <div class="table-responsive mt-2">
                <table class="table table-striped
            table-hover	
            table-borderless
            table-secondary
            align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Acciones</th>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Passwd</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr class="table-secondary">
                            <td>
                                <a name="eliminar" id="btnEliminar" class="btn btn-danger">Eliminar</a>
                                ||
                                <a name="editar" id="btnEditar" class="btn btn-primary">Editar</a>
                                ||
                                <a name="detalles" id="btnDetelles" class="btn btn-success">Detalles</a>
                            </td>
                            <td scope="row">
                                usuario.idUsuario
                            </td>
                            <td>
                                usuario.nombreUsuario
                            </td>
                            <td>
                                usuario.correo
                            </td>
                            <td>
                                usuario.contrasenia
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </main>
</body>
<%- include('partials/footer.ejs')%>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>


    <script>
        // Seleccionamos el botón por su id
        var btnAddUsuario = document.getElementById('btnAddUsuario');

        // Definimos una variable para la ventana emergente
        var popup;

        // Agregamos un evento onclick al botón
        btnAddUsuario.onclick = function () {
            // Abrimos la ventana emergente
            popup = window.open('', 'popup', 'width=400,height=300');

            // Contenido del formulario dentro de la ventana emergente
            var formContent = `
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Agregar Proyecto</title>
                <link rel="stylesheet" href="/css/main.css">
            </head>
            <body class="bodyPopup">
               <form class="popup-form">
			        <label for="nombreUsuario">Nombre del usuario:</label><br>
                    <input type="text" id="nombreUsuario" name="nombreUsuario"><br>
        
                    <label for="correo">Correo electrónico:</label><br>
                    <input type="text" id="correo" name="correo" rows="4" cols="50"></input><br>
        
                    <label for="contrasenia">Contraseña:</label><br>
                    <input type="text" id="contrasenia" name="contrasenia"></input><br>
        
                    <button class="btnPopup" type="submit">Guardar</button>
                    <button class="btnPopup" type="button" onclick="window.opener.cerrarPopup()">Cancelar</button>
                </form>
            </body>
            </html>
                `;

            // Escribimos el contenido del formulario en la ventana emergente
            popup.document.write(formContent);

            // Definimos el comportamiento del formulario al ser enviado
            popup.document.querySelector('form').onsubmit = function (event) {
                event.preventDefault();
                // Aquí manejamos las acciones del form con el servidor
            };
        };

        // Definimos la función cerrarPopup para cerrar la ventana emergente
        function cerrarPopup() {
            if (popup) {
                popup.close();
            }
        }
    </script>

</html>