<footer class="ftr text-center text-lg-start bg-dark navbar-dark pd-4">
  <div class="text-center p-3">
    <p>© Pinky Software 2024</p>Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>

