<!DOCTYPE html>
<html lang="en">

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/index">
        <img src="img/LogoNav.jpg" alt="Logo" style="height: 30px; margin-right: 10px;">
        Pinky Software
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/contadurias">Contaduria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">Proyectos</a>
          </li>
          <li class="nav-item d-none" id="usersNav">
            <a class="nav-link" href="/users">Usuarios</a>
          </li>
          <li class="nav-item d-none" id="partidasNav">
            <a class="nav-link" href="/partidas">Partidas</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto me-0">
          <li class="nav-item">
            <span class="nav-link">Hola, <span id="nombreUsuario">Invitado</span></span>
          </li>
          <li class="nav-item" id="loginLink">
            <a class="nav-link" href="/">Iniciar sesión</a>
          </li>
          <li class="nav-item d-none" id="logoutLink">
            <a href="/" class="nav-link" id="logoutButton">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script>
    // Este evento se ejecuta cuando el DOM está completamente cargado.
    document.addEventListener('DOMContentLoaded', function () {
      // Se obtienen los valores almacenados en el localStorage.
      const nombreUsuario = localStorage.getItem('nombreUsuario');
      const isLoggedIn = localStorage.getItem('isLoggedIn');
      const isGuest = localStorage.getItem('isGuest');

      // Si hay un nombre de usuario almacenado, se muestra en el elemento con id 'nombreUsuario'.
      if (nombreUsuario) {
        document.getElementById('nombreUsuario').textContent = nombreUsuario;
      }

      if (isLoggedIn === 'true') {
        if (nombreUsuario === 'admin') {
          document.getElementById('loginLink').classList.add('d-none');
          document.getElementById('logoutLink').classList.remove('d-none');
          document.getElementById('partidasNav').classList.remove('d-none');
          document.getElementById('usersNav').classList.remove('d-none'); // Mostrar usersNav para admin
        } else {
          document.getElementById('partidasNav').classList.remove('d-none');
          document.getElementById('loginLink').classList.add('d-none');
          document.getElementById('logoutLink').classList.remove('d-none');
          document.getElementById('usersNav').classList.add('d-none'); // Ocultar usersNav para usuarios no admin
        }
      } else if (isGuest === 'true') {
        document.getElementById('loginLink').classList.remove('d-none');
        document.getElementById('logoutLink').classList.add('d-none');
      }

      // Evento para el botón de cierre de sesión.
      document.getElementById('logoutButton').addEventListener('click', function () {
        // Se eliminan los datos de usuario del localStorage al hacer clic en el botón de cierre de sesión.
        localStorage.removeItem('nombreUsuario');
        localStorage.removeItem('isLoggedIn');
        localStorage.removeItem('isGuest');
      });
    });
  </script>

</body>

</html>