<!-- views/usuarios/create.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Crear Usuario</h1>
    <form action="/users" method="POST">
        <div>
            <label for="nombreUsuario">Nombre de Usuario:</label>
            <input type="text" id="nombreUsuario" name="nombreUsuario" required>
        </div>
        <div>
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required>
        </div>
        <div>
            <label for="contrasenia">Contraseña:</label>
            <input type="password" id="contrasenia" name="contrasenia" required>
        </div>
        <button type="submit">Crear Usuario</button>
    </form>
    <a href="/users">Volver a la Lista de Usuarios</a>
</body>
</html>
