<!-- views/usuarios/index.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul>
        <% usuarios.forEach(usuario => { %>
            <li><%= usuario.nombreUsuario %> - <%= usuario.correo %></li>
        <% }); %>
    </ul>
    <a href="/users/create">Crear Usuario</a>
</body>
</html>
